@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple site used for testing deployments.</p>
    <p>Running on: @Model.MachineName</p>
</div>
