@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your privacy is important to us. This privacy statement provides information about the personal information that our website collects, and the ways in which we use that personal information.
</p>
<p>
    We do not collect any personal data from our users. We do not use cookies or any other tracking technologies to gather information about your visit to our site.
</p>
<p>
    If you have any questions about this privacy policy or our treatment of your personal information, please contact us.
</p>
